<h1>編集</h1>

<%= form_for(@micropost) do |f| %>
	<div class="field">
		<%= f.label :タイトル %><br />
		<%= f.text_field :title %>
	</div>

	<div class="field">
		<%= f.label :本文 %><br />
		<%= f.text_area :body %>
	</div>

	<div class="field">
		<%= f.submit "編集内容を保存" %>
	</div>
<% end %>